/* Define uma regra para elementos com a classe "menu" */
.menu {
    /* Configura a exibição flexível para os elementos, alinhando-os horizontalmente */
    display: flex;

    /* Centraliza verticalmente os elementos no contêiner pai */
    align-items: center;

    /* Define um espaçamento entre os elementos de 5% da largura do contêiner pai */
    gap: 5vw;

    /* Remove o preenchimento padrão da lista não ordenada */
    padding: 0;
}

/* Define uma regra para elementos com a classe "itens" */
.itens {
    /* Remove os marcadores de lista (pontos ou números) */
    list-style: none;

    /* Define a altura dos elementos com a classe "itens" como 100% da altura do contêiner pai */
    height: 100%;

    /* Altera o cursor do mouse quando passa sobre os elementos para indicar que são interativos */
    cursor: pointer;
}
